*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0d0d0d;
}
.nav{
    width: 100%;
    height: 70px;
    position:fixed;
    top: 0;
    background: rgb(21, 21, 21);
    box-shadow: 0px 10px 20px #090909e4;
    z-index: 20;
}
.task{
    color:#fff;
    font-size: 35px;
    font-weight: bold;
    font-family:'Roboto';
    

}
.list{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family:'Roboto';
}
.text{
    position: absolute;
    left:130px ;
    top: 15px;
}
.middle{
    height:200px;
    
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00A5EC;
    color: white;
    position: relative;
    top: 105px;
   left: 1150px;
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   display: inline-block;

}

.addtask{
    display: inline-block;
    position: relative;
    top: 100px;
    left: 1170px;
    font-size: 20px;
    color: #fff;
    

}




a{
    text-decoration: none;
    color:#00A5EC ;
}
.lable{
    text-decoration: line-through;
    color: #C2C2C2;
    font-size:20px ;
    position: relative;
    top: 40px;
}



.parent1{
    font-family: 'Roboto', sans-serif;
  
}

.addnewtask{
    background: #FFFFFF;
    width: 500px;
    height: 220px;
    position:fixed;
    top: 220px;
    right:500px ;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #F7F7F7;
    border: 2px solid rgb(255, 89, 0);
    display: none;
    z-index: 10;
    
}
.addnewtask1{
    background: #FFFFFF;
    width: 500px;
    height: 220px;
    position:fixed;
    top: 220px;
    right:500px ;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #F7F7F7;
    border: 2px solid rgb(255, 89, 0);
    display: none;
    z-index: 10;
}

.page2{
    display: inline-block;
    color: rgb(255, 98, 0);
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 195px;
    font-weight: bold;
    padding-bottom: 20px;
 
}
.cross{
    background-color: rgb(255, 89, 0) ;
    color: #fff;
   border-radius: 15px;
    font-size: 25px;
    position: absolute;
    top: 140px;
   left: 260px;
   width: 100px;
   height: 40px;
   text-align: center;
   
   
}
input[type=text]{
    width: 300px;
    height: 40px;
    position: absolute;
    top: 80px;
    right: 100px;
    border-radius: 5px ;
    border: 2px solid orange;
    background-color: #EDEDED;
    text-align: center;
    
}


button{
    position:absolute;
    top: 140px;
    right: 260px;
    background:rgb(255, 98, 0);
    color:white;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    font-size: 22px;
    border: 2px solid rgb(255, 98, 0);
}

div.container{
   height: 300px; 
   width: 400px;
   background-color: #FFFFFF;
   position: relative;
   top: 70px;
   left: 500px;
   border-radius: 5px;
}


.pops{
    position: relative;
    width: 220px;
    height:350px;
    border-radius: 10px;
    border: 2px solid rgb(255, 98, 0);
    background-color:#fff;
    
}



.todos{

    position: relative;
    left: 180px;
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: space-between;
    gap: 40px; 
    padding-bottom: 20px;
     
}
.delet{
 width: 40px;
 height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 98, 0) ;
  position:relative;
 top: 300px;
  left: 120px;
  z-index: 1;
  background-image: url(./trash.png);
  background-position: center;
  background-size: 40px;
  cursor: pointer;
}
.heading{
    position: absolute;
    font-size: 25px;
    color: pink;
    width: 220px;
    text-align: center;
    padding-top:10px;
    z-index: 1;
    overflow-wrap: break-word;
}


.sept{
 position: absolute;
 width: 220px;
  top: 40px;
  background-color: #0e0d0d; 
  z-index: 1;
}

.notodo{
   font-size: 40px; 
   color: #fff;
   
}
.adding{
    width: 40px;
    height: 40px;
     border-radius: 50%;
     background-color: #00A5EC ;
     position:relative;
  top: 7px;
  left: 167px;
  z-index: 1;
     background-position: center;
     background-size: 40px; 
     text-align: center;
     font-size: 30px;
     color: #fff;
     cursor: pointer;
}
.flower{
    cursor: pointer;
}
.whattodo{
    
    box-sizing: border-box;
    width: 200px;
    position:relative;
    top: 0px;
  text-align: left;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom:px ;
 
  font-size: 22px;
}
.whattodotask{
    
    padding-bottom:15px ;
    width: 95px;
    overflow-wrap: break-word;
   
}

.doneit{
    position: absolute;
    width: 70px;
    height: 30px;
    top: 15px;
    left: 130px;
    background-color: #00A5EC;
    font-size: 10px;
}
.parent22{
    display: none;
    z-index: 1;
}
.todos22{
 
    z-index: 1;
    width: 300px;
   
    position: relative;
    top: 60px;
    left: 600px;
    padding-left: 30px;
}
.heading{
    cursor: pointer;
    position: fixed;
}
.back{
    position: absolute;
    bottom:580px;
    left: 200px;
   font-size: 30px;
   color: #F7F7F7;
}
.arrow{
    position: relative;
    right: 10px;
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: #0d0d0d;
    font-weight:900;
    font-size: 30px;
    text-align: center;
    padding-left: 5px;
    cursor: pointer;
}
.topheading{
    position: absolute;
   top: 120px;
   left: 600px;
   font-size: 40px;
   font-weight: bold;
    
    width: 400px;
    height: 70px;
    z-index: 1;
    color: #fff;
}
.innerdiv{
    bottom: 20px;
    width: 217px;
    height: 250px;
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
   
 
}
.innerdiv::-webkit-scrollbar{
    
    margin-top: 20px;
}
@media only screen and (max-width:500px) and (min-width:360px){
    .text{
        left: 10vmin;
    }
    .sum{
        overflow-x: hidden;
        height: 2000px;

    }
    .addtask{
        display: none;

    }
    
    .icon{
        left: 40vmin;
    }
    .last{
        flex-direction: column;
       left: 12vmin;
       width: auto;
     
    }

    .middle{
        width: auto;
        
    }
       
    .parent1{
        overflow-x: hidden;
        width: auto;
        height: 2000px;
        
    }
    .parent{
        overflow-x: hidden;
    }
    .box{
        width: 300px;
        height: 350px;
    }
     
    .addnewtask{
        height: 250px;
       width: 300px;        
       top: 270px;
       left: 10vw;
       overflow-x: hidden;
    }
    
.cross{
    color: #858585;
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: 10px;
   left: 120px;
}
.todos{
    
left: 2vb;
width: 42vb;

}
.notodo{
    font-size:2vmax;
}
.pops{
    left: 8vb;
}
  
.addnewtask{
    width: 43vb;
    height: 25vb;
    left: 1vb;
    right: 1vb;
}
.addnewtask1{
    width: 43vb;
    height: 25vb;
    left: 1vb;
    right: 1vb;
}
.page2{
    left: 32%;
} 

.cross{
    top: 70%;
    left: 15%;
    width: 30vw;
    color: white;
}

#addbutton{
    top: 70%;
    left: 15%;
    width: 30vw;
}
#addtaskname{
    top: 70%;
    left: 15%;
    width: 30vw; 
}
.ad{
    left: 5vw;
    top: 20vh;
    width: 30vw;  
}
#inp{
    left:7%;  
}
#inp2{
    left:7%;   
}
.todos22{
   top:16vh ;
    left: 2vb;
    width: 42vb; 
  
}
.topheading{
    top: 27vh;
    width: 90vw;
    text-align: center;
    height: auto;
    left:5vw ;
} 
.back{
    top: 17vh;
    left: 15vw;
}
#exc{
    top:16vh ;
    left: 68vw;  
}

}


/* ################## */
@media only screen and (max-width:1060px) and (min-width:500px){
.nav{
    width: 100%;
    height: 70px;
}
.icon{
    left: 70%;
}
.addtask{
    left: 71%;
}

.todos{
    left: 10%;
    width: 80%;
  
}

.addnewtask{
    left: 20%;
}
.addnewtask1{
    left: 20%;
}
.todos22{
    left: 30%;
}
.back{
    top: 12%;
    left: 10%;
}
.topheading{
    left: 30%;
    top: 15%;
}
}

 

 








